<nav id="sideNav" class="sideNav">
    <ul>
        <li><a class="<% if (activePage==='Accueil') { %>active<%} %>" href="/">Accueil</a></li>
        <li><a class="<% if (activePage==='Parcours professionnel') { %>active<%} %>" href="/career/5">Parcours
                professionnel</a></li>
        <li><a class="<% if (activePage==='Projets personnels') { %>active<%} %>" href="/project/2">Projets
                personnels</a></li>
    </ul>
</nav>