<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Evelyne PHICH</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div class="background"></div>
    <div class="backgroundClosingSideNav" onclick="closeSideNav()"></div>
    <%- include("./partials/sideNav") -%>
        <nav class="navBar">
            <div class="navigation">
                <button class="menuButton" onclick="openSideNav()"> <img class="menuIcon" src="/images/menu-24px.svg" />
                </button>
            </div>
            <div class="contact">
                <a class="gmail" href="mailto:evelyne.phich@gmail.com"> <img src="/images/email-24px.svg"
                        alt="Email" /></a>
                <a target="_blank" class="linkedIn" href="https://www.linkedin.com/in/evelyne-phich-26464370/"><img
                        src="./images/iconmonstr-linkedin-3.svg" alt="LinkedIn" /></a>
            </div>
        </nav>
        <div class="container">
            <div class="content">
                <div class="title">
                    <%- fullName %>
                </div>
                <hr />
                <div class="description">
                    <i>
                        <%- quote %>
                    </i>
                </div>
            </div>
        </div>
        <script src="/js/index.js"></script>
</body>

</html>