.background {
  background-color: rgb(1, 1, 39);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.navBar {
  z-index: 1;
  background-color: rgb(1, 1, 39);
  box-shadow: 10px 5px 5px rgb(1 1 39);
}
.careersContainer, .projectsContainer {
  padding-top: 80px;
}
.container {
  background-color: #fff7f7f2;
  color: rgb(1, 1, 39);
  border-radius: 16px;
  box-shadow: rgb(255 255 255 / 35%) 0px 5px 15px;
  margin: 48px;
  overflow: hidden;
  transition: transform .2s;
}
.container:hover {
  transform: scale(1.1)
}
.date {
  font-size: 60px;
  font-weight: bold;
  background-color: #fff7f7f2;
  color: rgb(1, 1, 39);
  padding: 16px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(1 1 39 / 90%);
  color: white;
  padding: 24px;
}
.companyName {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}
.projectName {
  font-size: 40px;
  font-weight: 700;
}
.linkToProject {
  transition: color .2s;
}
.linkToProject:hover {
  text-shadow: rgb(0 0 0) 1px 0 10px;
}
.jobName,
.description {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}
.jobTasks {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
}
.school {
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
}
.degree {
  font-size: 24px;
}
.linkToProject {
  text-decoration: none;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .date {
    font-size: 60px;
  }
}

@media (max-width: 480px) {
  .date {
    font-size: 24px;
  }
  .companyName,
  .projectName {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .jobName,
  .description,
  .link {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .jobTasks {
    font-size: 14px;
  }
  .school {
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .degree {
    font-size: 16px;
  }
}
