.background {
  background-image: url("https://res.cloudinary.com/dvpcjyb48/image/upload/v1612002393/LCL.jpg");
}

@media (min-width: 481px) and (max-width: 1024px) {
  .background {
    background-image: url("https://res.cloudinary.com/dvpcjyb48/image/upload/v1612288174/LCL_tablet_uwphlw.jpg");
  }
}

@media (max-width: 480px) {
  .background {
    background-image: url("https://res.cloudinary.com/dvpcjyb48/image/upload/v1612288178/LCL_mobile_lfofwf.jpg");
  }
}
