@use "_vars.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: vars.$lightGray;
  background-color: vars.$navy;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 8px 24px;
  position: fixed;
  width: 100%;
  height: 64px;
  box-sizing: border-box;
}

.title {
  font-weight: 800;
  font-size: 2rem;
}

.desktopMenu {
  display: none;
}

.menuItem {
  text-decoration: none;
  color: vars.$lightGray;
  font-weight: bold;
  cursor: pointer;
}

.menuOpen,
.menuClosed {
  position: fixed;
  width: 100%;
  top: 64px;
  text-align: center;
  background-color: vars.$lightGray;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.menuClosed {
  top: -240px;
}

.menuOpen .menuItem,
.menuClosed .menuItem {
  display: block;
  padding: 12px 0;
  color: vars.$navy;
}

.menuOpen .menuItem:hover {
  background-color: vars.$gray;
}

@media screen and (min-width: 840px) {
  .desktopMenu {
    display: flex;
    gap: 12px;
  }

  .mobileMenu {
    display: none;
  }

  .menuOpen {
    display: none;
  }
}
