@use "_vars.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: vars.$lightGray;
  background-color: vars.$navy;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 8px 24px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  z-index: 2;
}

.title {
  font-weight: 800;
  font-size: 2rem;
}

.desktopMenu {
  display: none;
}

.menuItem {
  text-decoration: none;
  color: vars.$lightGray;
  font-weight: bold;
  cursor: pointer;
  padding: 20px 10px;
  transition: 300ms ease-in-out;
}

.menuItem:hover {
  background-color: vars.$gray;
  color: vars.$navy;
  padding: 20px 10px;
}

.menuOpen,
.menuClosed {
  position: fixed;
  width: 100%;
  top: 64px;
  text-align: center;
  background-color: vars.$lightGray;
  box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
  z-index: 1;
}

.menuOpen {
  animation: scaleDown 300ms ease-in-out forwards;
  transform-origin: top;
}

.menuClosed {
  top: -240px;
  transition: 300ms ease-in-out;
}

.menuOpen .menuItem,
.menuClosed .menuItem {
  display: block;
  padding: 12px 0;
  color: vars.$navy;
}

.menuOpen .menuItem:hover {
  background-color: vars.$gray;
}

.closeMenuDiv {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

@keyframes scaleDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

@media screen and (min-width: 930px) {
  .desktopMenu {
    display: flex;
    gap: 12px;
  }

  .mobileMenu {
    display: none;
  }

  .menuOpen {
    display: none;
  }
}
