.image {
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.doubleArrowDown {
  text-align: center;
  animation: jumpInfinite 1.5s infinite;
  cursor: pointer;
}

@keyframes jumpInfinite {
  0% {
    padding-top: 0;
  }
  50% {
    padding-top: 20px;
  }
  100% {
    padding-top: 0px;
  }
}
