.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  display: none;
}

.description {
  text-align: justify;
}

.scrollDownContainer {
  padding-top: 16px;
}

.arrowDownContainer {
  position: relative;
}

.arrowDown {
  position: absolute;
  width: 100%;
  text-align: center;
  animation: jumpInfinite 1.5s infinite;
  cursor: pointer;
}

@keyframes jumpInfinite {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}

@media screen and (min-width: 300px) {
  .image {
    display: block;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  }

  .descriptionContainer {
    margin-top: 32px;
  }
}

@media screen and (min-width: 800px) {
  .container {
    flex-direction: row;
  }

  .image {
    margin-right: 36px;
  }

  .descriptionContainer {
    margin-top: 0;
    max-width: 600px;
  }
}
